@CHARSET "UTF-8";
#keyCardFrame {
	display:none;
	z-index:999;
  top:25%;
  left:38%;
  width: 250px;
  height: 200px;
  position: absolute;
  perspective: 1000px;
}

#keyCard, .keyCard {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.pick1{
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
}
.pick2{
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateY(-60deg);
}
.pick3{
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateY(-120deg);
}
.pick4{
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateY(-180deg);
}
.pick5{
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateY(-240deg);
}
.pick6{
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateY(-300deg);
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.9;
  border-radius: 10px;
}

.card1 {
  transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24;
  transition : transform 0.6s;
}
.card2 {
  transform: rotateY(60deg) translateZ(250px);
  background: #0072bc;
  transition : transform 0.6s;
}
.card3 {
  transform: rotateY(120deg) translateZ(250px);
  background: #39b54a;
}
.card4 {
  transform: rotateY(180deg) translateZ(250px);
  background: #f26522;
}
.card5 {
  transform: rotateY(240deg) translateZ(250px);
  background: #630460;
} 
.card6 {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
}


.actionSpinGoldKey{
	animation : spinGoldKey 1.5s linear;
}

@keyframes spinGoldKey {
	0% { transform: rotateY(0deg);  }
	80% { transform: rotateY(360deg); }
	100% { transform: rotateY(-360deg);}
}