@CHARSET "UTF-8";

#container {
	position:absolute;
	display:none;
	top:30%;
	left:34%;
}

.clickFlip{
		transform: rotateY(180deg);
	}
	
.zoom1{
	position:absolute;
	top:25%;
	left:293px;
}

#container, .flip_front, .flip_back {
	z-index:25;
	width: 335px;
	height: 270px;
	border-radius: 10px;
}

#flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.flip_front, .flip_back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.flip_front {
	background: url(/Marble/img/key.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
	z-index: 2;
}

.flip_back {
	transform: rotateY(180deg);
	background: #f8f8f8;
}
