@CHARSET "UTF-8";

#soju1 {
        animation: bounce 0.7s infinite linear;
        perspective: 400px;
        position:fixed;

    }

.sojuCenter{
	top:30%;
	left:30%;
}

@keyframes roll3{
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(900deg);}
}    

    
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -25px, 0);
   
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
 
  }
  75%{
    transform: translate3d(0,-13px,0);
  }
  80%{
    transform: translate3d(0,-12px,0);
  }
  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-8px,0);
  }
}