@CHARSET "UTF-8";
/*
<index>

.menubar 50
.sign-in 39
.nav ul 40
*/

body {
	margin: 0;
	
}

#wrapper {
	position: relative;
	top: 80px;
}

.footer {
	margin: 0;
	padding: 0;
	overflow: hidden;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
}


.nav li:first-child {
	float: left;
}

.nav li:nth-child(2) {
	float: left;
}


.nav li label {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li label{
    border-right: none;
    float: right;
}

.nav li label:hover:not(.active) {
    background-color: #111;
}


.nav li.active {
    background-color: #4CAF50;
}

.menubar {
	right: 0;
	width: 500px;
	position: fixed;
	height: 60%;
	overflow: auto;
	top: 50px;
	background-color: #CCC;
	z-index: 50;
}

.menubar .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 60%;
    overflow: auto;
   
}

.settings {
	padding-left: 200px;
}

.menubar .menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.menubar .menu li.active {
    background-color: #4CAF50;
}

.inline {
	display: inline-block;
    color: white;
}

.menubar .menu li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

<<<<<<< HEAD
.sign-in{
	background-color: #555;
	top: 60px;
	right:0;
	position: fixed;
	z-index: 49;
}

.selected {
	background-color: #80ff80;
}
=======
.sign-in, .sign-up{
	display: none;
	width:500px;
	height:500px;
	border:10px solid #00fff9; 
	border-radius:20px;
	z-index: 39;
	position:absolute;
	background:#00ff99;
	opacity:0.95;
}

.sign-title {
	font-weight: bold;
	color: #00304a;
	top: 30px;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.05em #acd7e5;
	font-family: Courier;
	font-size: 5em;
}

>>>>>>> 예비_성정한
