@CHARSET "UTF-8";



.warning {
	background-color: #FFB7DB;
}

.pass {
	background-color: #A0FEAC;
}

.inline2{
	display: inline-block;
}

.left{
	float: left;	
}

.right{
	float: right;	
}

.clear{
	clear: both;
}
