@CHARSET "UTF-8";
/* 
<index>
#marble 1

 */

#marbleBoard {

}
 
#marble {
	width: 100%;
	position: fixed;
	z-index: 100;
	background: white;
	height: 100%;
}

#marble table td div.gameInfo {
	display: none;
}

#marble table td div.gameType {
	display: none;
}

#gamePan {
	width: 1050px;
	position: relative;
	margin: 0 auto;
	padding: 0 auto;
}

#marble table {
	margin: 0 auto;
}

#marble table tr {
	height: 100px;
}

#marble table td {
	width: 140px;
	text-align: center;
}