<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mables</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewPlayIndexPageServlet</display-name>
    <servlet-name>ViewPlayIndexPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.play.web.ViewPlayIndexPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPlayIndexPageServlet</servlet-name>
    <url-pattern>/play/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewWritePageServlet</display-name>
    <servlet-name>ViewWritePageServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.ViewWritePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewWritePageServlet</servlet-name>
    <url-pattern>/board/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSetGamesPageServlet</display-name>
    <servlet-name>ViewSetGamesPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.games.web.ViewSetGamesPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSetGamesPageServlet</servlet-name>
    <url-pattern>/setGames</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTypeServlet</display-name>
    <servlet-name>SearchTypeServlet</servlet-name>
    <servlet-class>net.ktds.drink.games.web.SearchTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTypeServlet</servlet-name>
    <url-pattern>/searchType</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoWriteServlet</display-name>
    <servlet-name>DoWriteServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.DoWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteServlet</servlet-name>
    <url-pattern>/doWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckDuplicateUserEmailServlet</display-name>
    <servlet-name>CheckDuplicateUserEmailServlet</servlet-name>
    <servlet-class>net.ktds.drink.user.web.ajax.CheckDuplicateUserEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDuplicateUserEmailServlet</servlet-name>
    <url-pattern>/CheckDuplicateUserEmailServlet</url-pattern>
    <url-pattern>/duplicateUserEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewListPageServlet</display-name>
    <servlet-name>ViewListPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.ViewListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewListPageServlet</servlet-name>
    <url-pattern>/board/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyInfoServlet</display-name>
    <servlet-name>MyInfoServlet</servlet-name>
    <servlet-class>net.ktds.drink.play.web.ajax.MyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyInfoServlet</servlet-name>
    <url-pattern>/myInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetMarbleBoardServlet</display-name>
    <servlet-name>SetMarbleBoardServlet</servlet-name>
    <servlet-class>net.ktds.drink.play.web.ajax.SetMarbleBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetMarbleBoardServlet</servlet-name>
    <url-pattern>/setMarbleBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTestServlet</display-name>
    <servlet-name>ViewTestServlet</servlet-name>
    <servlet-class>message.ViewTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailPageServlet</display-name>
    <servlet-name>ViewDetailPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.ViewDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailPageServlet</servlet-name>
    <url-pattern>/board/detail</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>net.ktds.drink.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CheckDuplicateUserNickname</display-name>
    <servlet-name>CheckDuplicateUserNickname</servlet-name>
    <servlet-class>net.ktds.drink.user.web.ajax.CheckDuplicateUserNickname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDuplicateUserNickname</servlet-name>
    <url-pattern>/duplicateUserNickname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignUpPageServlet</display-name>
    <servlet-name>DoSignUpPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.user.web.ajax.DoSignUpPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignUpPageServlet</servlet-name>
    <url-pattern>/doSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteServlet</display-name>
    <servlet-name>DoDeleteServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.DoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteServlet</servlet-name>
    <url-pattern>/doDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoThrowCubeServlet</display-name>
    <servlet-name>DoThrowCubeServlet</servlet-name>
    <servlet-class>net.ktds.drink.play.web.ajax.DoThrowCubeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoThrowCubeServlet</servlet-name>
    <url-pattern>/doThrowCube</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSignUpPageServlet</display-name>
    <servlet-name>ViewSignUpPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.user.web.ViewSignUpPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignUpPageServlet</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VewSignInPageServlet</display-name>
    <servlet-name>VewSignInPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.user.web.VewSignInPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VewSignInPageServlet</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignInPageServlet</display-name>
    <servlet-name>DoSignInPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.user.web.ajax.DoSignInPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignInPageServlet</servlet-name>
    <url-pattern>/doSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewModifyPageServlet</display-name>
    <servlet-name>ViewModifyPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.ViewModifyPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewModifyPageServlet</servlet-name>
    <url-pattern>/board/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyServlet</display-name>
    <servlet-name>DoModifyServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.DoModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyServlet</servlet-name>
    <url-pattern>/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSetGamesServlet</display-name>
    <servlet-name>DoSetGamesServlet</servlet-name>
    <servlet-class>net.ktds.drink.games.web.DoSetGamesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSetGamesServlet</servlet-name>
    <url-pattern>/doSetGames</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoLogoutPageServlet</display-name>
    <servlet-name>DoLogoutPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.user.web.DoLogoutPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogoutPageServlet</servlet-name>
    <url-pattern>/doLogout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SessionCheckFilter</display-name>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>net.ktds.drink.filter.SessionCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>/board/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAddGamesServlet</display-name>
    <servlet-name>ViewAddGamesServlet</servlet-name>
    <servlet-class>net.ktds.drink.games.web.ViewAddGamesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAddGamesServlet</servlet-name>
    <url-pattern>/addGames</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUpdateRecommendCountServlet</display-name>
    <servlet-name>DoUpdateRecommendCountServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.DoUpdateRecommendCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdateRecommendCountServlet</servlet-name>
    <url-pattern>/doUpdateRecommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDownloadServlet</display-name>
    <servlet-name>DoDownloadServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.DoDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDownloadServlet</servlet-name>
    <url-pattern>/doDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doAddGamesServlet</display-name>
    <servlet-name>doAddGamesServlet</servlet-name>
    <servlet-class>net.ktds.drink.games.web.DoAddGamesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doAddGamesServlet</servlet-name>
    <url-pattern>/doAddGames</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsExistGameName</display-name>
    <servlet-name>IsExistGameName</servlet-name>
    <servlet-class>net.ktds.drink.games.web.IsExistGameName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsExistGameName</servlet-name>
    <url-pattern>/IsExistGameName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAdminPageServlet</display-name>
    <servlet-name>ViewAdminPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.view.ViewAdminPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdminPageServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserInfoListPageServlet</display-name>
    <servlet-name>ViewUserInfoListPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ajax.ViewUserInfoListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserInfoListPageServlet</servlet-name>
    <url-pattern>/admin/userInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchInitiateServlet</display-name>
    <servlet-name>SearchInitiateServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.SearchInitiateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchInitiateServlet</servlet-name>
    <url-pattern>/board/list/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewGameInfoPageServlet</display-name>
    <servlet-name>ViewGameInfoPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ViewGameInfoPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewGameInfoPageServlet</servlet-name>
    <url-pattern>/admin/gameInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewGameListPageServlet</display-name>
    <servlet-name>ViewGameListPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ajax.ViewGameListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewGameListPageServlet</servlet-name>
    <url-pattern>/admin/gameList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewGameDetailPageServlet</display-name>
    <servlet-name>ViewGameDetailPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ViewGameDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewGameDetailPageServlet</servlet-name>
    <url-pattern>/admin/gameDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteGameServlet</display-name>
    <servlet-name>DoDeleteGameServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ajax.DoDeleteGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteGameServlet</servlet-name>
    <url-pattern>/admin/deleteGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAddGamePageServlet</display-name>
    <servlet-name>ViewAddGamePageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ViewAddGamePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAddGamePageServlet</servlet-name>
    <url-pattern>/admin/addGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAddGameServlet</display-name>
    <servlet-name>DoAddGameServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoAddGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAddGameServlet</servlet-name>
    <url-pattern>/admin/doAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteDetailServlet</display-name>
    <servlet-name>DoDeleteDetailServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoDeleteDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteDetailServlet</servlet-name>
    <url-pattern>/admin/doDeleteDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdateGamePageServlet</display-name>
    <servlet-name>ViewUpdateGamePageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ViewUpdateGamePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdateGamePageServlet</servlet-name>
    <url-pattern>/admin/updateGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUpdateGameServlet</display-name>
    <servlet-name>DoUpdateGameServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoUpdateGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdateGameServlet</servlet-name>
    <url-pattern>/admin/doUpdateGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewGameCategoryListPageServlet</display-name>
    <servlet-name>ViewGameCategoryListPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ViewGameCategoryListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewGameCategoryListPageServlet</servlet-name>
    <url-pattern>/admin/gameCategoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSearchInitServlet</display-name>
    <servlet-name>DoSearchInitServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoSearchInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSearchInitServlet</servlet-name>
    <url-pattern>/admin/searchInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomListPageServlet</display-name>
    <servlet-name>ViewCustomListPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ViewCustomListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomListPageServlet</servlet-name>
    <url-pattern>/admin/customList</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetGoldenCardServlet</display-name>
    <servlet-name>GetGoldenCardServlet</servlet-name>
    <servlet-class>net.ktds.drink.play.web.ajax.GetGoldenCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGoldenCardServlet</servlet-name>
    <url-pattern>/getCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewArticleInfoServlet</display-name>
    <servlet-name>ViewArticleInfoServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ajax.ViewArticleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewArticleInfoServlet</servlet-name>
    <url-pattern>/admin/articleInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUserInfoDelete</display-name>
    <servlet-name>DoUserInfoDelete</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ajax.DoUserInfoDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUserInfoDelete</servlet-name>
    <url-pattern>/doUserInfoDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmPlaysServlet</display-name>
    <servlet-name>ConfirmPlaysServlet</servlet-name>
    <servlet-class>net.ktds.drink.play.web.ajax.ConfirmPlaysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmPlaysServlet</servlet-name>
    <url-pattern>/confirmPlays</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCategorySetServlet</display-name>
    <servlet-name>ViewCategorySetServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ctgr.ViewCategorySetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCategorySetServlet</servlet-name>
    <url-pattern>/admin/categorySet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoPasswordResetServlet</display-name>
    <servlet-name>DoPasswordResetServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ajax.DoPasswordResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoPasswordResetServlet</servlet-name>
    <url-pattern>/admin/doPasswordReset</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SessionAdminCheck</display-name>
    <filter-name>SessionAdminCheck</filter-name>
    <filter-class>net.ktds.drink.filter.SessionAdminCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionAdminCheck</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBoardSearchInitServlet</display-name>
    <servlet-name>AdminBoardSearchInitServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ajax.AdminBoardSearchInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBoardSearchInitServlet</servlet-name>
    <url-pattern>/admin/list/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSearchCustomInitServlet</display-name>
    <servlet-name>DoSearchCustomInitServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoSearchCustomInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSearchCustomInitServlet</servlet-name>
    <url-pattern>/admin/searchCustomInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteCustomServlet</display-name>
    <servlet-name>DoDeleteCustomServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoDeleteCustomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteCustomServlet</servlet-name>
    <url-pattern>/admin/deleteCustom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomDetailPageServlet</display-name>
    <servlet-name>ViewCustomDetailPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ViewCustomDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomDetailPageServlet</servlet-name>
    <url-pattern>/admin/customDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteCustomDetailServlet</display-name>
    <servlet-name>DoDeleteCustomDetailServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoDeleteCustomDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteCustomDetailServlet</servlet-name>
    <url-pattern>/admin/doDeleteCustomDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdateCustomPageServlet</display-name>
    <servlet-name>ViewUpdateCustomPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ViewUpdateCustomPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdateCustomPageServlet</servlet-name>
    <url-pattern>/admin/updateCustom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUpdateCustomServlet</display-name>
    <servlet-name>DoUpdateCustomServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoUpdateCustomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdateCustomServlet</servlet-name>
    <url-pattern>/admin/doUpdateCustom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoArticleInfoDeleteServlet</display-name>
    <servlet-name>DoArticleInfoDeleteServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ajax.DoArticleInfoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoArticleInfoDeleteServlet</servlet-name>
    <url-pattern>/doArticleInfoDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoToListServlet</display-name>
    <servlet-name>GoToListServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.web.GoToListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoToListServlet</servlet-name>
    <url-pattern>/goToList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetGameSettingServlet</display-name>
    <servlet-name>GetGameSettingServlet</servlet-name>
    <servlet-class>net.ktds.drink.games.web.GetGameSettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGameSettingServlet</servlet-name>
    <url-pattern>/getGameSetting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAddCtgrServlet</display-name>
    <servlet-name>DoAddCtgrServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ctgr.DoAddCtgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAddCtgrServlet</servlet-name>
    <url-pattern>/admin/doAddCtgr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteCtgrServlet</display-name>
    <servlet-name>DoDeleteCtgrServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ctgr.DoDeleteCtgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteCtgrServlet</servlet-name>
    <url-pattern>/admin/doDeleteCtgr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyCtgrServlet</display-name>
    <servlet-name>DoModifyCtgrServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ctgr.DoModifyCtgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyCtgrServlet</servlet-name>
    <url-pattern>/admin/doModifyCtgr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewListCommentServlet</display-name>
    <servlet-name>ViewListCommentServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.comments.web.ViewListCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewListCommentServlet</servlet-name>
    <url-pattern>/board/listCmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteCommentServlet</display-name>
    <servlet-name>DoWriteCommentServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.comments.web.DoWriteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteCommentServlet</servlet-name>
    <url-pattern>/board/doWriteCmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DomodifyCommentServlet</display-name>
    <servlet-name>DomodifyCommentServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.comments.web.DomodifyCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DomodifyCommentServlet</servlet-name>
    <url-pattern>/board/doModifyCmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteCommentServlet</display-name>
    <servlet-name>DoDeleteCommentServlet</servlet-name>
    <servlet-class>net.ktds.drink.boards.comments.web.DoDeleteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteCommentServlet</servlet-name>
    <url-pattern>/board/doDeleteCmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewAdvertisementVideoServlet</display-name>
    <servlet-name>viewAdvertisementVideoServlet</servlet-name>
    <servlet-class>net.ktds.drink.play.web.ajax.viewAdvertisementVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAdvertisementVideoServlet</servlet-name>
    <url-pattern>/play/video</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewGameCategoryMenuServlet</display-name>
    <servlet-name>ViewGameCategoryMenuServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ViewGameCategoryMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewGameCategoryMenuServlet</servlet-name>
    <url-pattern>/admin/gameCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewGameMenuListPageServlet</display-name>
    <servlet-name>ViewGameMenuListPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ViewGameMenuListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewGameMenuListPageServlet</servlet-name>
    <url-pattern>/admin/gameMenuList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewGameCategoryDetailPageServlet</display-name>
    <servlet-name>ViewGameCategoryDetailPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ViewGameCategoryDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewGameCategoryDetailPageServlet</servlet-name>
    <url-pattern>/admin/gameCategoryDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSearchCategoryInitServlet</display-name>
    <servlet-name>DoSearchCategoryInitServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoSearchCategoryInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSearchCategoryInitServlet</servlet-name>
    <url-pattern>/admin/doSearchCategoryInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteCategoryDetailServlet</display-name>
    <servlet-name>DoDeleteCategoryDetailServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoDeleteCategoryDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteCategoryDetailServlet</servlet-name>
    <url-pattern>/admin/doDeleteCategoryDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteCategoryGameServlet</display-name>
    <servlet-name>DoDeleteCategoryGameServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoDeleteCategoryGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteCategoryGameServlet</servlet-name>
    <url-pattern>/admin/deleteCategoryGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAddCategoryGamePageServlet</display-name>
    <servlet-name>ViewAddCategoryGamePageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ViewAddCategoryGamePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAddCategoryGamePageServlet</servlet-name>
    <url-pattern>/admin/addCategoryGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAddCategoryGameServlet</display-name>
    <servlet-name>DoAddCategoryGameServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoAddCategoryGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAddCategoryGameServlet</servlet-name>
    <url-pattern>/admin/doAddCategoryGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdateCategoryGamePageServlet</display-name>
    <servlet-name>ViewUpdateCategoryGamePageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ViewUpdateCategoryGamePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdateCategoryGamePageServlet</servlet-name>
    <url-pattern>/admin/updateCategoryGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUpdateCategoryGameServlet</display-name>
    <servlet-name>DoUpdateCategoryGameServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoUpdateCategoryGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdateCategoryGameServlet</servlet-name>
    <url-pattern>/admin/doUpdateCategoryGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAdvertisementServlet</display-name>
    <servlet-name>DoAdvertisementServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.advertisement.DoAdvertisementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAdvertisementServlet</servlet-name>
    <url-pattern>/admin/doAdvertisement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAdvertisementPageServlet</display-name>
    <servlet-name>ViewAdvertisementPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.advertisement.ViewAdvertisementPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdvertisementPageServlet</servlet-name>
    <url-pattern>/admin/advertisement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoShowAdvertisementVideoServlet</display-name>
    <servlet-name>DoShowAdvertisementVideoServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.advertisement.DoShowAdvertisementVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoShowAdvertisementVideoServlet</servlet-name>
    <url-pattern>/play/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTypeListPageServlet</display-name>
    <servlet-name>ViewTypeListPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.gameType.ViewTypeListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTypeListPageServlet</servlet-name>
    <url-pattern>/admin/typeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAddTypePageServlet</display-name>
    <servlet-name>ViewAddTypePageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.gameType.ViewAddTypePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAddTypePageServlet</servlet-name>
    <url-pattern>/admin/addType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsExistTypeName</display-name>
    <servlet-name>IsExistTypeName</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.gameType.IsExistTypeName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsExistTypeName</servlet-name>
    <url-pattern>/IsExistTypeName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAddTypeServlet</display-name>
    <servlet-name>DoAddTypeServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.gameType.DoAddTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAddTypeServlet</servlet-name>
    <url-pattern>/admin/doAddType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteTypeServlet</display-name>
    <servlet-name>DoDeleteTypeServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.gameType.DoDeleteTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteTypeServlet</servlet-name>
    <url-pattern>/admin/deleteType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTypeDetailPageServlet</display-name>
    <servlet-name>ViewTypeDetailPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.gameType.ViewTypeDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTypeDetailPageServlet</servlet-name>
    <url-pattern>/admin/typeDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteTypeDetailServlet</display-name>
    <servlet-name>DoDeleteTypeDetailServlet</servlet-name>
    <servlet-class>net.ktds.drink.games.web.DoDeleteTypeDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteTypeDetailServlet</servlet-name>
    <url-pattern>/admin/deleteTypeDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdateTypePageServlet</display-name>
    <servlet-name>ViewUpdateTypePageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.gameType.ViewUpdateTypePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdateTypePageServlet</servlet-name>
    <url-pattern>/admin/updateType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUpdateTypeServlet</display-name>
    <servlet-name>DoUpdateTypeServlet</servlet-name>
    <servlet-class>net.ktds.drink.games.web.DoUpdateTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdateTypeServlet</servlet-name>
    <url-pattern>/admin/doUpdateType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSearchTypeInitServlet</display-name>
    <servlet-name>DoSearchTypeInitServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.gameType.DoSearchTypeInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSearchTypeInitServlet</servlet-name>
    <url-pattern>/admin/searchTypeInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteAdvertisementServlet</display-name>
    <servlet-name>DoDeleteAdvertisementServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.advertisement.DoDeleteAdvertisementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteAdvertisementServlet</servlet-name>
    <url-pattern>/admin/doDeleteAdvertisement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewHistoryPageServlet</display-name>
    <servlet-name>ViewHistoryPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.history.ViewHistoryPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHistoryPageServlet</servlet-name>
    <url-pattern>/admin/historyList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteHistoryServlet</display-name>
    <servlet-name>DoDeleteHistoryServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.history.DoDeleteHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteHistoryServlet</servlet-name>
    <url-pattern>/admin/deleteHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewHistoryDetailPageServlet</display-name>
    <servlet-name>ViewHistoryDetailPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.history.ViewHistoryDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHistoryDetailPageServlet</servlet-name>
    <url-pattern>/admin/historyDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteHistoryDetailServlet</display-name>
    <servlet-name>DoDeleteHistoryDetailServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.history.DoDeleteHistoryDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteHistoryDetailServlet</servlet-name>
    <url-pattern>/admin/doDeleteHistoryDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSearchHistoryInitServlet</display-name>
    <servlet-name>DoSearchHistoryInitServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.history.DoSearchHistoryInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSearchHistoryInitServlet</servlet-name>
    <url-pattern>/admin/searchHistoryInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBoardInfoServlet</display-name>
    <servlet-name>ViewBoardInfoServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.view.ViewBoardInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBoardInfoServlet</servlet-name>
    <url-pattern>/admin/boardInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewImageSetServlet</display-name>
    <servlet-name>ViewImageSetServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.img.ViewImageSetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewImageSetServlet</servlet-name>
    <url-pattern>/admin/imageSet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoImageUpLoadServlet</display-name>
    <servlet-name>DoImageUpLoadServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.img.DoImageUpLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoImageUpLoadServlet</servlet-name>
    <url-pattern>/admin/doImageUpLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSoundTrackServlet</display-name>
    <servlet-name>DoSoundTrackServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.sound.DoSoundTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSoundTrackServlet</servlet-name>
    <url-pattern>/admin/doSoundTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteSoundTrackServlet</display-name>
    <servlet-name>DoDeleteSoundTrackServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.sound.DoDeleteSoundTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteSoundTrackServlet</servlet-name>
    <url-pattern>/admin/doDeleteSoundTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSoundTrackPageServlet</display-name>
    <servlet-name>ViewSoundTrackPageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.sound.ViewSoundTrackPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSoundTrackPageServlet</servlet-name>
    <url-pattern>/admin/soundTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoShowSoundTrackServlet</display-name>
    <servlet-name>DoShowSoundTrackServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.sound.DoShowSoundTrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoShowSoundTrackServlet</servlet-name>
    <url-pattern>/admin/doShowSoundTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDownloadDetailImgServlet</display-name>
    <servlet-name>DoDownloadDetailImgServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoDownloadDetailImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDownloadDetailImgServlet</servlet-name>
    <url-pattern>/admin/doDownloadDetailImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDownloadCellImgServlet</display-name>
    <servlet-name>DoDownloadCellImgServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.DoDownloadCellImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDownloadCellImgServlet</servlet-name>
    <url-pattern>/admin/doDownloadCellImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetGameSetServlet</display-name>
    <servlet-name>ResetGameSetServlet</servlet-name>
    <servlet-class>net.ktds.drink.games.web.ResetGameSetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetGameSetServlet</servlet-name>
    <url-pattern>/resetGame</url-pattern>
    </servlet-mapping>
   <servlet>
    <display-name>CheckExistImageServlet</display-name>
    <servlet-name>CheckExistImageServlet</servlet-name>
    <servlet-class>net.ktds.drink.admin.web.ajax.CheckExistImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckExistImageServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
</web-app>